.card {
  display: inline-block;
  width: 30%;
  height: 82px;
  border: 1px solid #c85a16;
  border-radius: 4px;
  margin: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] .card {
  background-color: var(--ifm-card-background-color);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] .card:hover {
  box-shadow: 0 8px 16px 0 #000000f0;
}

@media screen and (max-width: 966px) {
  .card {
    width: 90%;
  }
}

.card a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  padding: 8px 16px 0px 16px;
}

.icon img {
  width: 64px;
  height: 64px;
  border-radius: 12%;
}

.icon svg {
  width: 64px;
  height: 64px;
  color: var(--ifm-color-primary);
}

html[data-theme='dark'] .icon svg {
  color: var(--ifm-color-primary-lightest);
}

.description {
  margin-top: 8px;
  color: var(--ifm-font-color-base);
}
