.card {
  width: 82%;
  height: 82px;
  border-radius: 4px;
  margin: 1%;
  background-color: #244b5c;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

html[data-theme='dark'] .card:hover {
  box-shadow: 0 8px 16px 0 #000000f0;
}

.card a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.content {
  display: flex;
  align-items: center;
  gap: 4px;
}

.icon {
  padding: 8px 16px 0px 16px;
}

.icon svg {
  width: 64px;
  height: 64px;
  color: #efa500;
}

.description {
  margin-top: 12px;
  color: white;
}
