.bannerRow {
  justify-content: center;
  align-items: center;
}

.container {
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.container h1 {
  margin-bottom: 2rem;
}

@media screen and (max-width: 966px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
